html, body {
    height: 100%;
    min-height: 100%;
  }
  
  body {
    font: 15px arial;
    color: rgb(103, 119, 134);
    background-color: #EFF0F1;
  }
  
  .wrapper {
    height: 95%;
    min-height: 95%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  
  .wrapper div {
    padding: 40px;
    border: 1px solid rgba(0, 0, 0, .3);
    height:auto;
    align-items: center;
    
  }

  .impLogin input,.impLogin button,.impLogin label{
      display: block;
      margin: 20px;
  }

  .impLogin button{
      height: 30px;
      width: 100px;
      color: rgb(88, 21, 49);
      border: 1px solid rgba(0, 0, 0, .3);
      margin: auto;
  }

  .impLogin button:hover{
    transition: all 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550);
    transform: scale(1.2); 
    cursor: pointer;
}

/* MENU */

.upbar{ /*  BARRA DO MENU SUPERIOR FIXA */
  width: 100%;
  background-color: orangered;
  color: bisque;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 35px;

}

.main_menu *{
  display: none;
}

.main_menu ul{
  border: 1px solid rgba(0, 0, 0, .3);
  background-color: white;
  color: black;
}

.main_menu ul li{
  list-style: none;
  border: 1px solid rgba(0, 0, 0, .3);
}

.main_menu:hover ul{  
  display: block;
  cursor: pointer;
}
.main_menu ul:hover li{  
  display: block;
  cursor: pointer;
}